<div class="w-100">
  <div class="header-top text-white bg-white p-4 position-relative">
    <div class="d-flex justify-content-between align-items-center position-relative">
      <div>
        <h4 class="p-0 m-0">Sửa tin tức</h4>
        <span class="small d-block mb-3">Cái loại tin tức liên kết với Pet Shop.</span>
      </div>
      <div>
        <nav class="">
          <a class="text-white" [routerLink]="['/admin']"><fa-icon [icon]="faHouse"></fa-icon></a>
          <span class="px-2 d-inline-block">/</span>
          <a class="text-white" [routerLink]="['/admin/brand']">Tin tức</a>
          <span class="px-2 d-inline-block">/</span>
          <span class="">Sửa</span>
        </nav>
      </div>
    </div>
  </div>

  <div class="container">
    <form action="" [formGroup]="dataForm" class="mx-auto mt-4 border border-1 p-4" (submit)="handleSubmit()">

      <div class="form-group d-flex">
        <div class="col-6 pl-0">
          <label for="title-inp"><b>Tiêu đề</b></label>
          <textarea formControlName="title" class="form-control rounded-0" id="title-inp" cols="30" rows="2" (input)="onInputTitle($event)"></textarea>
          <div class="box-mesage" *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)">
            <div *ngIf="f.title.errors">
              <span class="small text-danger">Trường này không được để rỗng!</span>
            </div>
          </div>
          <span *ngIf="titleError" class="small text-danger">Tiêu đề đã tồn tại!</span>
        </div>
        <div class="col-6 pl-0">
          <label for="slug-inp"><b>Slug</b></label>
          <textarea formControlName="slug" class="form-control rounded-0" id="slug-inp" cols="30" rows="2" (input)="eventInput()"></textarea>
          <div class="box-mesage" *ngIf="f.slug.invalid && (f.slug.dirty || f.slug.touched)">
            <div *ngIf="f.slug.errors">
              <span class="small text-danger">Trường này không được để rỗng!</span>
            </div>
          </div>
          <span *ngIf="slugError" class="small text-danger">Slug đã tồn tại!</span>
        </div>
      </div>

      <div class="form-group">
        <label for="content"><b>Nội dung</b></label>
        <ckeditor id="content" formControlName="content"></ckeditor>
        <div class="box-mesage" *ngIf="f.content.invalid && (f.content.dirty || f.content.touched)">
          <div *ngIf="f.content.errors">
            <span class="small text-danger">Trường này không được để rỗng!</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="file-inp" class="d-block"><b>Ảnh</b></label>
        <input type="file" name="upload-file" id="file-inp" class="form-control rounded-0" (change)="selectFile($event)">
        <span class="small text-danger" *ngIf="!checkFile">Vui lòng chọn tệp!</span>
        <div *ngIf="urlImg" class="mt-2">
          <img src="{{ urlImg }}" class="w-100" alt="">
        </div>
      </div>

      <button type="submit" class="btn btn-info rounded-0" *ngIf="dataForm.valid">Lưu</button>
      <button type="submit" class="btn btn-info rounded-0" *ngIf="!dataForm.valid" disabled>Lưu</button>
    </form>
  </div>
</div>
