section {
  background-color: rgb(255, 241, 241);
}

.back-top {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  bottom: 50px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 1100;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.01s linear;
}

.back-top:hover {
  background-color: rgb(201, 53, 53);
  color: #fff;
  border-color: rgb(201, 53, 53);
}
