.banner-top {
  background-image: url('src/assets/images/banner-header2.webp');
  background-position: center top;
  padding: 245px 0px 0;
  background-repeat: no-repeat;
  min-height: 300px;
  z-index: 9;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

.banner-top>p>span:last-child, h2 {
  color: rgb(255, 22, 22) !important;
}

.box-brand .item div {
  transition: all 0.2s linear;
}

.box-brand .item:hover div {
  cursor: pointer;
  border-color: rgb(121, 121, 121) !important;
}
